.App {
  text-align: center;
  font-family: "Roboto";
}


.chore-card{
  border: 3px solid lightgray;
  width: 60%;
  margin:0 auto;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.chore-btn{
  margin-right: 10px;
  margin-left: 10px;
  
}

.chore-list{
  border: 2px solid lightgray;
  width: 40%;
  margin: 0 auto;
  width: 40%;
  height: 100%;
}

.add-chore{
  margin-top: 30px;
}

.add-chore-btn{
  margin-left: 10px;
}

.delete{
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.checkbox{
 margin-left: 12px;
 background: red;
}

.dash {
  color: green;
  font-size: 1.4rem;
  font-weight: bold;
}

.rewards-list{
  border: 2px solid lightgray;
  /* width: 50%; */
  /* margin: 0 auto; */
}

.points{
  border: 2px solid lightgray;
  width: 30%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 120px;
  background: orange;
  color: darkblue;
  font-size: 1.2rem;
}

.nav-bar{
  margin: 0;
}

.assign-chore{
  margin-top: 35px;
}

hr{
  border: 1px solid dimgrey;
  width: 70%;
}

.child-chores {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 30px;
}



.rewards-list{
  width: 40%;
  margin-right: 80px;
  height: 100%;
  margin-bottom: 20px;
}

.main-header{
  margin-top: 15px;
}

.chore-btn{
  margin-bottom: 40px;

}


footer{
  background-color:orange;
  padding: 2%;
  color: #ffffff;
}